html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f1f1f9;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

.card {
  padding: 2rem;
  border: 1px solid #ddf;
  border-radius: 1rem;
  background: #fff;
}

.page-content {
  margin: 4rem auto;
  max-width: 450px;
}

.form-group {
  display: grid;
  grid-gap: 2rem;
}

button {
  padding: 0.5rem 2rem;
  background: dodgerblue;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.block {
  display: block;
  width: 100%;
}

.alert {
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  line-height: 1.2;
}

.alert-danger {
  border: 1px solid coral;
  border-radius: 1rem;
  color: darkred;
  font-weight: bold;
  background: rgba(255, 0, 0, .1);
}